    body {
      padding: 0px;
      margin: 0px;
      font-family: 'Nunito', sans-serif;
    }
    a{
      text-decoration: none;
      color: #fffdfe;
    }
    a:hover{
      text-decoration: none;
      color: #fffdfe;
    }
    /* Banner header */

      header.masthead{
          position:relative;
          width:100%;
          padding-top:150px;
          padding-bottom:10px;
          color:#fff;
          background:#dd008b;
      }
      header.masthead .header-content{
          max-width:500px;
          margin-bottom:100px;
          text-align:center
      }
      header.masthead .header-content h1{
          font-size:30px;
          letter-spacing: 2px;
          font-family: 'Timmana', sans-serif;
      }
      header.masthead .device-container{
          max-width:325px;
          margin-right:auto;
          margin-left:auto
      }
      header.masthead .device-container .screen img{
          border-radius:3px
      }
      header.masthead .badges .badge-link{
          display:block;
          margin-bottom:25px
      }
      header.masthead .badges .badge-link:last-child{
          margin-bottom:0
      }
      header.masthead .badges .badge-link img{
          height:60px
      }
      @media (min-width:768px){
          header.masthead .badges .badge-link{
              display:inline-block;
              margin-bottom:0
          }
          
      }
      @media (min-width:992px){
          header.masthead{
              height:100vh;
              min-height:775px;
              padding-top:0;
              padding-bottom:0;
          }
          header.masthead .header-content{
              margin-bottom:0;
              text-align:left;
          }
          header.masthead .header-content h1{
              font-size:45px;
              font-family: 'Timmana', sans-serif;
          }
          header.masthead .device-container{
              max-width:325px
          }
          .feature-heading{
            font-weight: bold;
            font-size: 50px;
          }
      }
/* Banner Header ends */

  /* Navigation Bar */

      #mainNav{
          border-color:rgba(34,34,34,.05);
          background-color:#fff;
          transition:all .35s;
          font-family:MyWebFont,Helvetica,Arial,sans-serif;
          font-weight:200;
          letter-spacing:1px
      }
      #mainNav .navbar-brand{
          color:#fdcc52;
          font-family:MyWebFont,Helvetica,Arial,sans-serif;
          font-weight:200;
          letter-spacing:1px
      }
      #mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{
          color:#fcbd20
      }
      #mainNav .navbar-toggler{
          font-size:12px;
          padding:8px 10px;
          color:#222
      }
      #mainNav .navbar-nav>li>a{
          font-size:11px;
          font-family:Lato,Helvetica,Arial,sans-serif;
          letter-spacing:2px;
          color: #fcbd20;
          text-transform:uppercase
      }
      #mainNav .navbar-nav>li>a.active{
          color:#fcbd20 !important;
          background-color:transparent
      }
      #mainNav .navbar-nav>li>a.active:hover{
          background-color:transparent
      }
      #mainNav .navbar-nav>li>a,#mainNav .navbar-nav>li>a:focus{
          color:#222
      }
      #mainNav .navbar-nav>li>a:focus:hover,#mainNav .navbar-nav>li>a:hover{
          color:#fdcc52
      }
      @media (min-width:992px){
          #mainNav{
              border-color:transparent;
              background-color:#dd008b;
          }
          #mainNav .navbar-brand{
              color:fade(white,70%)
          }
          #mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{
              color:#fff
          }
          #mainNav .navbar-nav>li>a,#mainNav .navbar-nav>li>a:focus{
              color:rgba(255,255,255,.7)
          }
          #mainNav .navbar-nav>li>a:focus:hover,#mainNav .navbar-nav>li>a:hover{
              color:#fff
          }
          #mainNav.navbar-shrink{
              border-color:rgba(34,34,34,.1);
              background-color:#fff
          }
          #mainNav.navbar-shrink .navbar-brand{
              color:#222
          }
          #mainNav.navbar-shrink .navbar-brand:focus,#mainNav.navbar-shrink .navbar-brand:hover{
              color:#fdcc52
          }
          #mainNav.navbar-shrink .navbar-nav>li>a,#mainNav.navbar-shrink .navbar-nav>li>a:focus{
              color:#222
          }
          #mainNav.navbar-shrink .navbar-nav>li>a:focus:hover,#mainNav.navbar-shrink .navbar-nav>li>a:hover{
              color:#fdcc52
          }
      }
/* Navagation Ends */

    .review-section{
        padding-top: 50px;
        padding-bottom: 100px;
        margin-top: 30px;
    }
    .user{
        font-weight: bold;
    }    
    .reviews{
      font-size: 20px;
    }
    .feature-font-icon{
      color: #272723;
    }
    #features.container.text-center.p{
      font-weight: bold;
    }
    .feature-heading{
      font-weight: bold;
    }
    .features-section{
        width: 100%;
    }
    .share-status-img{
        float: left;
        width: 70%;
        height: 70%;
    }
    .status-saver-img{
        float: left;
        width: 70%;
        height: 70%;
    }
    .photo-edit-img{
        float: left;
        width: 70%;
        height: 70%;
    }
    @media only screen and (max-width: 600px){
        h1 h2{
            font-size: 25px;
        }
        .review-section{
        padding-top: 5px;
        padding-bottom: 20px;
        margin-top: 50px;
        }
    }
    @media only screen and (max-width: 1024px){
        .review-section{
        padding-top: 5px;
        padding-bottom: 20px;
        margin-top: 50px;
        }
    }
    hr{
      text-align: center;
      text-justify: auto;
      width: 5%;
      color: #dd008b;
      background: #dd008b;
    }
    .emnedded-video{
      width: 100%;
      display: flex;
    }
    #contact,footer{
     background-image: linear-gradient(135deg,#dd008b 30%,#f80bbd 50%);
    }
    /* team section */
      .section-heading{
        font-weight: bold;
      }
      .card {
          border: none;
          width: 50%;
        }
        @media screen and (min-width: 500px) {
          .column {
            width: 100%;
            margin-bottom: auto;
            padding-bottom: 2px;
          }
          .team-container{
              max-width: 100%;
              margin-bottom: 10px;
          }
        }
      .team-icon{
        border-radius: 60% ;
        padding-top: 10px;
      }
        .title{
          margin-bottom: 15px !important;
          font-size: 18px;
          font-weight: bold;
      }

    section.teams .team-container .team-section .device-container h3{
    font-size:40px;
    }
    .profile-name{
        font-weight: bold;
      }
    @media only screen and (min-width:700px){
        .profile-name{
            font-size:25px;
            font-weight: bold;
        }
            
    }
    @media (max-width:990px){
            .title{
                font-size: 15px;
            }
            .features-icon{
          width: 100%;
          height: 100%;
        }
    }
    @media only screen and (min-width:990px){
        .card{
            width: 85%;
        }
    }
     @media only screen and(max-width:570px){
        .card{
            width: 100%;
        }
        .small-device{
            width: 10%;
        }
        .features-icon{
          width: 100%;
          height: 100%;
        }
    }

/* team section ends */


  /* Follow Us */
    @media(min-width:600px){
      .sm{
        width:35%;
      }
    }
    #contact{
      padding-top: 10px;
      margin-top: 10px;
      
      color: #fffffdec;
    }
    .social-heading{
      padding-bottom: 20px;
      margin-bottom: 20px;
      font-weight: bold;
    }
    .fab{
      font-size: 30px;
    }
   .social-buttons{
        margin: 0 10px;
        width: 80px;
        height: 80px;
        
        background-color: rgb(250, 250, 246);
        display: inline-block;
        border-radius: 24px;
        box-shadow: 6px 6px 12px rgba(48, 40, 40, 0.15),
                    -6px -6px 12px rgba(255,255,255,.1);
        overflow: hidden;
        font-size: 30px;
        transition: .3s linear;
        position: relative;
      }

      .social-buttons:hover{
        transform: scale(1.3);
        border-radius: 50%;
      }

      .social-buttons i::before{
        position: absolute;
        width: 100%;
        height: 100%;
        
        text-align: center;
        background-size: 200% 200%;
        background-position: 75% 75%;
        top: 0;
        left: 0;
        line-height: 80px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: background .5s linear;
      }

       .social-buttons:hover i::before{
        background-position: 0% 0%;
      }

     .fa-facebook::before{
        background-image: linear-gradient(135deg,#3b5998 30%,#0a3d62 50%);
      }

     .fa-instagram::before{
        background-image: linear-gradient(135deg,#c32aa3 30%,#0a3d62 50%);
      }
    .fa-linkedin::before{
        background-image: linear-gradient(135deg,#007bb5 30%,#0a3d62 50%);
      }
    .fa-envelope::before{
      background-image: linear-gradient(135deg,#74050e 30%,#0a3d62 50%);
    }
  /* follow us ends */
    .masthead-text{
        color:#fffdfe ;
      }

      .btn-outline{
    color:#fff;
    border:1px solid;
    border-color:#fff
}
.btn-outline.active,.btn-outline:active,.btn-outline:focus,.btn-outline:hover{
    color:#fff;
    border-color:#fdcc52;
    background-color:#fdcc52
}
.btn{
    border-radius:300px;
    font-family:Lato,Helvetica,Arial,sans-serif;
    letter-spacing:2px;
    text-transform:uppercase
}
.btn-xl{
    font-size:11px;
    padding:15px 45px
}

.features-icon{
  width: 100%;
  height: 100%;
}
.review-icons{
  border-radius: 50%;
  width: 20%;
  height: 20%;
}



  /* FaviconPlay */
    .video-banner{
      max-width: 100%;
      background-repeat: repeat;
    }
    .overlay{
      opacity: 0;
    }
    .embedded-video:hover .overlay {
      transition:  1s;
      opacity: 1;
    }

    .embedded-video:hover
    {
      transition:  1s;
      background-image: url(./assets/images/video-banner-shade.webp);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .fa-play-circle{
      /* padding-top: 100px; */
      font-size:64px;
    }
    .embedded-video{
      background-image: url('./assets/images/video-banner.webp');
      background-position: center center;
      background-repeat: no-repeat;
      /* background-attachment: fixed; */
      background-size: cover;
      height: 300px;
      width: 100%;
    }

  /* FaviconPlay */








/* play store button */


/* play store button ends */






/* InstaGram */

  #insta{
    background: #dd008b;
    padding: 15px 0 15px 0;
  }

  #instafeed{
    width: 1200px;
    margin: 20px auto;
    columns: 4;
    column-gap: 40px;
  }
  #instafeed .box{
    width: 100%;
    margin: 0 0 20px;
    padding: 10px;
    background: #fff;
    overflow: hidden;
    break-inside: avoid;
    transition: .5s;
  }

  #instafeed .box img{
    max-width: 100%;
  }

  #instafeed .box p{
    margin: 0;
    padding: 0 0 10px;
    font-size: 16px;
  }

  .box:hover{
    transform: scale(1.05);
  }

  @media screen and (max-width: 1200px){
    #instafeed{
      columns: 3;
      width: cal(100% - 40px);
      box-sizing: border-box;
      padding: 20px 20px 20px 20px;
    }
  }

  @media screen and (max-width: 768px){
    #instafeed{
      columns: 2;

    }
  }

  @media screen and (max-width: 600px){
    #instafeed{
      columns: 1;
      width: 100%;
    }
  }


/* InstaGram */



